@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #38053a;
    --secondary-color: #c263c5;
    --tertiary-color: #dec5df;
    --quaternary-color: #fbc3fd;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(122, 122, 122);
}

::selection {
    background: var(--tertiary-color);
}